.sectionBasic {
  padding-bottom: 1rem;

  p {
    font-size: 16px;
    margin-bottom: 0.5rem;
  }

  &::before {
    content: '';
    display: block;
    border-top: 2px solid #222;
    padding-top: 1px;
    border-bottom: 2px solid #808080;
    margin-bottom: 1rem;
  }

  .sectionTitle {
    background-color: #c4bbbb;
    text-align: center;
    padding-block: 2px;
    margin-bottom: 0.75rem;
  }

  .sectionContent {
    padding-inline: 1.5rem;
  }
}