@page {
  font-size: 10pt;
  margin-block: 2.25rem;

  wide {
    size: a4 portrait;
  }

  @top-center {
    content: none;
    color: red;
  }
}

.printViewBlock {
  padding: 2.25rem 3rem;
}

@media print {
  :global {
    * {
      visibility: hidden;
    }

    body {
      margin: 0;
      /* Reset default browser margin */
    }
  }

  .printBlock {
    position: absolute;
    left: 0;
    top: 0;
  }

  .printBlock,
  .printBlock * {
    visibility: visible;
    color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}