$top-space: 2pc;
$right-space: 2.5pc;
$bottom-space: 2pc;
$left-space: 2.5pc;

@page {
  // margin-top: $top-space;
  // margin-bottom: $bottom-space;

  wide {
    size: a4 portrait;
  }
}

.printViewBlock {
  padding: $top-space $right-space $bottom-space $left-space;
}

@media print {
  &:global {
    * {
      visibility: hidden;
    }

    body {
      margin: 0;
      /* Reset default browser margin */
    }
  }

  .printBlock {
    position: absolute;
    left: 0;
    top: 0;
  }

  .printBlock,
  .printBlock * {
    visibility: visible;
    color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}